.navItems:hover {
    background-color: var(--dark);
    color: var(--light);
}

.navSelected {
    height: 100%;
    background: var(--info);
    z-index: 100;
}

a{
    text-decoration: none;
    color: var(--dark);
}

.material-icons-round:hover{
    fill: var(--light)
}

.iconss:hover{
    color: var(--light);

}