#bro {
  background-color: black;
  color: white;
}

#h11 {
  font-weight: 1000;
}

#sub {
  vertical-align: sub;
  font-size: smaller;
  font-size: 20px;
}

#h {
  font-size: 40px;
  font-weight: 900;
}

#a {
  font-size: 20px;
  color: grey;
}

#btn1 {
  background-color: var(--info);
  border-radius: 20px;
  padding: 15px 25px;
  font-size: 20px;
  color: var(--dark) !important;
  border: 2px solid var(--info);

  border-style: solid;
}

#btn1:hover {
  text-decoration: none !important;
  color: var(--dark);
  background-color: white;
  border: 2px solid var(--info);
}

.boxes {
  background-color: var(--light);

  align-items: center;

  border-radius: 10px;
}

.c2 {
  background-color: var(--grey);
  padding: 0;
  margin: 0;
}

.signinbtn {
  background-color: var(--dark) !important;
  color: var(--light) !important;
}

.signupbox {
  max-width: 600px !important;
  margin-top: 100px;
  padding: 50px;
  color: var(--dark) !important;
}

.codebox {
  width: 1600px;
}

.ficons {
  margin-top: 50px;
  background-color: #00d2b5;
  height: 60px !important;
  width: 60px !important;
  border-radius: 100px;
  padding: 10px !important;

  margin-bottom: 20px;
}

.boxes:hover {
  background-color: #00d2b5;
  color: white;
  margin-bottom: 5px;
  margin-top: -10px;
  cursor: pointer;
}

.headerlogo {
  color: black;
}

.headerlogo:hover {
  color: black;
  text-decoration: none;
}
/* 
.textfld{
  color: var(--dark) !important;

} */
