.header {
    background-color: var(--white);
}

.search {
    background: var(--light);
}

.searchBar {
    border: none;
    background: var(--light);
}

.searchBar:focus {
    outline:none;
    background: var(--light)
    
}

.icons {
    background: var(--dark); 
    color: var(--white);
}
.opIcons {
    background: var(--white);
    color: var(--dark);
}
.searchIcon {
    background: var(--light);
    color: var(--black);
    opacity: 0.49
}


