@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* > * {
  font-family: "Poppins", cursive;
}

/* variables */

input[type="checkbox"] {
  -webkit-appearance: none;
  position: relative;
  width: 80px;
  height: 40px;
  border-radius: 50px;
  outline: none;
  /* background-color: yellow; */
  background-image: url(https://i.postimg.cc/857jHw2q/Screenshot-2020-04-16-at-1-07-06-PM.png);
  background-size: cover;
}

input[type="checkbox"]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 40px;
  background-color: var(--primary-dark);
  border-radius: 50px;
}

input[type="checkbox"]:checked:before {
  transform: translate(100%);
}

input[type="checkbox"]:checked {
  background-image: url(https://i.postimg.cc/Hn0nstVK/Screenshot-2020-04-16-at-1-07-19-PM.png);
}

p {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.text-center {
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(auto, 320px));
  row-gap: 2em;
  column-gap: 3em;
}

.grid .flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4em 0;
}

.grid .icon > span {
  font-size: 4em;
  color: var(--bg-btn);
}

.primary-dark {
  color: var(--primary-dark);
}

.secondary-dark {
  color: var(--secondary-dark);
}

.bg-light {
  background-color: var(--bg-light);
  box-shadow: 1px 5px 20px rgba(55, 65, 81, 0.1);
}

.outer-box {
  width: 500px;
  margin: 2% auto;
}

.box {

  color: white;
  width: 100%;
  height: fit-content;
}
.text-end {
  text-align: end;
}
h2,
h4 {
  margin: 0;
  padding: 10px 10px 10px 0px;
}
.text-addTodo {
  text-align: center;
  margin-top: 10px;
}
.todoinput {
  padding: 7px;
  width: 250px;
  border-radius: 5px;
  border: 0px;
  margin: 20px;
}
.btn-addTodo {
  color: white;
  background: dodgerblue;
  font-size: 14px;
  font-weight: 600;
  border: none;
  padding: 5px;
  border-radius: 6px;
  margin-left: 15px;
  cursor: pointer;
}
input[type="text"]:focus {
  outline: none;
}
button:focus {
  outline: none;
}
.todo-list {
  max-height: 210px;
  overflow-y: auto;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 600;
  color: black;
  padding: 15px 15px 15px 10px;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
}
.icon {
  display: flex;
  justify-content: space-between;
  width: 50px;
}
.pointer {
  cursor: pointer;
}
.line-through {
  text-decoration: line-through;
  color: green;
}
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: green;
}
