.bs {
  box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px;
}

.cp {
  cursor: pointer;
}

body {
  background: var(--light);
}

.bgred {
  background-color: rgb(255, 195, 195);
}

.bggreen {
  background-color: rgb(149, 255, 139);
}

.bgblue {
  background-color: rgb(182, 254, 255);
}

.bgyellow {
  background-color: rgb(251, 255, 182);
}

.bg {
  background: var(--white);
}

.bglight {
  background: var(--light);
}

.bggrey {
  background: var(--grey);
}

.bgdark {
  background: var(--dark);
}

Link {
  text-decoration: none;
}

.submitProfileDiv {
  display: flex;
  justify-content: center;
}

.submitProfile {
  width: 150px;
}

.addtask{
  background: var(--dark)!important;
  color: var(--light)!important;
  width: 150px;
}

.navitems{
  font-size: 17px;
  font-weight: 700;
}