.manifest {
    background: var(--light);
}
.head {
    background: var(--info);
    font-size: larger;
    font-weight: bold;
    color: var(--white);
}

.label {
    font-weight: 400;
}

.input {
    background: var(--white); 
    border: none;
}

.todoDiv {
    background: var(--white);
}